name: Deploy to Server with Docker Hub

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            set -e
            cd /root/apps/fleshcards/flashcards
            git pull --rebase
            cd ..
            docker system prune -f
            docker compose down
            docker compose up -d --build
            echo "=== Проверка контейнера ==="
            docker inspect -f "{{.State.Running}}" fleshcards-bot || (echo "Контейнер не запущен!" && exit 1)
